*{
    font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-content: center;
  
  flex-direction: row;

}
.regja{
    text-align: center;
    font-size: 40px;
    margin-bottom: 3px;
    color: #FF6302;
}

#myform{
    
    width: 600px;
    height: 300px;
    padding: 40px;
    margin: 100px;    
    text-align: center;
    border: 4px solid #FF6302;
}
input{
    
    margin-bottom: 10px;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
}
button{
    background-color: #FF6302;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
button:hover{
    
    background-color: #FF6302;
}